
article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2
{
    text-align: center;
}

.article p, h3 {
    margin: 0;
}


.article
{
    background-color: lightgray;

    
}
button
{
    background-color: lime;
}
#cart
{
    background-color: lightgray;
    padding: 3%;
}
h3
{
    text-align: center;
    padding: 2%;
}
footer
{
    background-color: lightgray;
    margin-top: 5%;
    display: flex;
    gap: 25%;
    
}
.logga
{
    max-width: 25%;
}
button
{
    font-size: 2em;
}
#total
{
    font-size: 2.5em;
}
@media screen and (max-width:640px)
{

    .bild1
    {
        
        width: 100%;

    }
    .bild
    {
        width: 100%;
        padding-top: 10px;
    }
 
}


    @media screen and (min-width:641px) and (max-width:1024px)
{
    .produkter
    {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        grid-template-rows: 1fr 1fr 1fr 
        
    }   

    .bild
    {
        width: 50%;
        
    }
    .bild1
    {
        width: 100%;
    }
    h2 
    {
        font-size: 2em;
    }
    h3{
        font-size: 2.5em; 
    }
    h4 
    {
        font-size: 2em;
    }
    p
    {
        font-size: 2.5em;
    }
    
}

@media screen and (min-width:1025px)
{
    @media screen and (min-width:1025px) {
        .produkter {
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          grid-template-rows: auto; 
          gap: 20px; 
          justify-items: center; 
        }
      
        .bild{
          width: 100%; 
          max-width: 100%; 
      
        h2 {
          font-size: 2em; 
        }
      
        h3 {
          font-size: 2.5em; 
        }
        
      
        p {
          font-size: 2em; 
        }
      
        .article {
          max-width: 300px; 
        }

        .bild1
        {
            width: 100%;
            height: auto;
        }
      }
      
}
}