
article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.article p, h3 {
    margin: 0;
}


.article
{
    background-color: lightgray;

    
}
button
{
    background-color: lime;
}
#cart
{
    background-color: lightgray;
}
.varukorg
{
    text-align: center;
    padding: 5%;
}

@media screen and (max-width:640px)
{

    .bild1
    {
        
        width: 100%;

    }
    .bild
    {
        width: 100%;
        padding-top: 10px;
    }
 
}

@media screen and (min-width:641px) and (max-width:1007px)
{

}